<!doctype html>
<html>
		<head>
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
				<title>Home - {{ request.user }}</title>
				<script src="/_ah/channel/jsapi"></script>
				<script src="http://www.google.com/jsapi"></script>
				<script>google.load("jquery", "1.7.0");</script>
				<script src="{{ media_url }}/imgpreview.min.js"></script>
				<link rel="stylesheet" type="text/css" href="{{ media_url }}/user_home.css" media="all"/>
		</head>
		<body>
				<script>
						$.fn.urlAutoLink = function(baseURL){  
								return this.each(function(){  
										var srcText = this.innerHTML;  
										this.innerHTML = srcText.replace(/(http:\/\/[\x21-\x7e]+)/gi, "<a href='$1'>$1</a>");  
								});  
						}
				</script>
				<script>
						$(function () {
								$("#main_wrap").urlAutoLink();
							/*	$("#main_wrap a").imgPreview({
										imgCSS: { width: 200 }
								});*/
						});
				</script>
				<script>
					var sendMessage = function(data) {
						$.ajax({
							url : '/user_home',
							type: 'POST',
							data: data
						})
					};
					$(document).ready(function(){
						$("#sumbit").click(function() {
							//$('#text').attr('value').show();
							console.log("submit");
							//alert("submit");
							//sendMessage($('#text').attr('value'));
							return false;
						});
					});
					/*
					$('#form_message').ajaxForm(function() { 
						alert("Thank you for your comment!"); 
					});*/
					channel = new goog.appengine.Channel("{{ token }}");
					socket = channel.open();
					socket.onopen = function() {
						//alert("open");
					};
					socket.onmessage = function(m) {
						//alert("message");
						info = JSON.parse(m.data);
						console.log(info.tweet);
						console.log(info.author_user_name);
						//$('#main_wrap').prepend("<article><header><b><span styple=¥"color: blue;¥">"+info.author+"</sapn>"+info.created_t+"</b></header><p>"+info.tweet+"</p></article>");
						$('#main_wrap').prepend("<article><header><b><span>"+info.author_user_name+"</span>("+info.created_t+")</b></header><p>"+info.tweet+"</p></article><hr>");
					};
					socket.onerror = function() {
						//alert("error");
						console.log("error");
					};
					socket.onclose = function() {
						//alert("close");
						console.log("close");
						};
				</script>
				<header>
				{{ request.user }}'s home
				<a href="{{ create_logout_url(url = '/') }}">ログアウト</a>
				</header>

				<div id="container">
						<div id="inner">
								<div id="top_wrap">
										{% call form() %}
										{{ form['tweet'].errors()|safe }}
										<!--{{ form['tweet'].label()|safe }}><br-->
										<textarea rows="3" cols="65" id="f_tweet" name="tweet" placeholder="ツイートしてください..."></textarea>
										{{ form.default_actions()|safe }}
										{% endcall %}
								</div>
								<div id="main_wrap">
										{% for t in tweets %}
										<article>
										<header>
										<b><span style="color: blue;">{{ t.author }}</span>({{ t.created_t }})</b>
										</header>
										<p> {{ t.tweet }} </p>
										</article>
										<hr>
										{% endfor %}
								</div>
						</div>
				</div>
				<footer>
				α版 - 個人情報は控えてください。
				</footer>
		</div>

</body>
</html>

